@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente global para estética tecnológica */
:root { font-family: Inter, system-ui, sans-serif; }
html { scroll-behavior: smooth; } /* scroll suave */